# ==== Hemligheter (rotera alla) ====
PIHOLE_WEBPASSWORD="ROTATED_VALUE"
TS_AUTHKEY="tskey-auth-ROTATED_VALUE"
WG_REQUEST_TOKEN="ROTATED_VALUE"
WG_PORTAL_ADMIN_KEY="ROTATED_VALUE"
DUCKDNS_DOMAIN="scoutfarsan"
DUCKDNS_TOKEN="ROTATED_VALUE"
HC_SETUP_UUID="ROTATED_VALUE"
HC_RUNTIME_UUID="ROTATED_VALUE"
GRAFANA_API_KEY="ROTATED_VALUE"

# Git
GIT_PAT=""
GIT_SSH_PRIVATE_KEY_B64=""
