
[Unit]
Description=Monitor changes in Gandalf config/secrets
[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/local/bin/ntfy-send info '🔐 Secrets ändrade' --title '[gandalf] Secrets Watch'; /usr/local/bin/gandalf-integrity check || true"
Restart=always
RestartSec=5
