[Unit]
Description=Run Gandalf DHCP healthcheck regularly

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=30s

[Install]
WantedBy=timers.target
