[Unit]
Description=Disable blockall for kids/guest groups

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pihole-blockall-toggle off Jonathan Mathilda Gast
