[Unit]
Description=Timer för DuckDNS

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=duckdns.service
Persistent=true

[Install]
WantedBy=timers.target
